# HexChain 컨트랙트 주소 (anvil deploy 후 채우기)
NEXT_PUBLIC_HEXCHAIN_ADDRESS=0x5fc8d32690cc91d4c39d9d3abcbd16989f875707

# WalletConnect Project ID (https://cloud.walletconnect.com)
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=6c433ba321999540dae0e8f1719def43
